## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey2

# Configure gmaps API key
gmaps.configure(api_key=gkey2)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,71.62,93,100,5.23,overcast clouds
1,1,Cabo San Lucas,MX,22.8909,-109.9124,91.51,72,20,5.99,few clouds
2,2,Haines Junction,CA,60.7522,-137.5108,69.75,46,38,8.05,scattered clouds
3,3,Esperance,AU,-33.8667,121.9000,55.24,67,97,26.69,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,light intensity drizzle

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,71.62,93,100,5.23,overcast clouds
4,4,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,light intensity drizzle
6,6,Vostok,RU,46.4856,135.8833,71.06,90,100,1.59,overcast clouds
8,8,Victoria,HK,22.2855,114.1577,82.38,93,100,1.01,light rain
14,14,Belmonte,BR,-15.8631,-38.8828,73.90,88,83,17.87,broken clouds
15,15,Jamestown,US,42.0970,-79.2353,74.52,83,40,5.57,scattered clouds
22,22,Pochutla,MX,15.7432,-96.4661,80.42,90,100,2.19,overcast clouds
24,24,Rikitea,PF,-23.1203,-134.9692,71.64,76,2,3.53,clear sky
32,32,Alamos,MX,27.0167,-108.9333,72.12,88,100,6.20,overcast clouds
33,33,Zaragoza,ES,41.6561,-0.8773,73.85,66,0,4.00,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                280
City                   280
Country                280
Lat                    280
Lng                    280
Max Temp               280
Humidity               280
Cloudiness             280
Wind Speed             280
Current Description    280
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,71.62,overcast clouds,42.6001,-73.9662,
4,Vaini,TO,75.36,light intensity drizzle,-21.2000,-175.2000,
6,Vostok,RU,71.06,overcast clouds,46.4856,135.8833,
8,Victoria,HK,82.38,light rain,22.2855,114.1577,
14,Belmonte,BR,73.90,broken clouds,-15.8631,-38.8828,
15,Jamestown,US,74.52,scattered clouds,42.0970,-79.2353,
22,Pochutla,MX,80.42,overcast clouds,15.7432,-96.4661,
24,Rikitea,PF,71.64,clear sky,-23.1203,-134.9692,
32,Alamos,MX,72.12,overcast clouds,27.0167,-108.9333,
33,Zaragoza,ES,73.85,clear sky,41.6561,-0.8773,

In [50]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : gkey2
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [74]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", float("NaN"), inplace=True)
hotel_df.dropna(subset =["Hotel Name"], inplace =True)

In [75]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Vaini,TO,75.36,light intensity drizzle,-21.2000,-175.2000,Keleti Beach Resort
8,Victoria,HK,82.38,light rain,22.2855,114.1577,Mini Hotel Central
14,Belmonte,BR,73.90,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
15,Jamestown,US,74.52,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
22,Pochutla,MX,80.42,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
...,...,...,...,...,...,...,...
663,Joshimath,IN,73.17,overcast clouds,30.5667,79.5667,Shivalik Camps & Resort
664,Pidhorodne,UA,70.84,few clouds,48.5753,35.1068,Комфорт
672,Mackay,AU,74.68,overcast clouds,-21.1500,149.2000,International Lodge Motel
673,Carutapera,BR,75.47,scattered clouds,-1.1950,-46.0200,Lidera
677,Pontianak,ID,78.78,light rain,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center

In [65]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [71]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))